.mkd {
  margin: 0 auto; }
  .mkd h2::before {
    content: '\00A0';
    margin-right: 0.4rem;
    background: var(--primary-color); }
  .mkd h3::before {
    content: '\00A0';
    margin-left: 1rem;
    margin-right: 0.4rem;
    background: var(--secondary-color); }
  .mkd img[alt="icon"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%; }
  .mkd strong, .mkd em {
    display: block;
    text-align: center; }
  .mkd .contacts {
    text-align: center; }
  .mkd .icon-contact {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--fg-color); }
    .mkd .icon-contact .fa-twitter {
      color: #1da1f2; }
  .mkd .words {
    font-family: var(--emoji-fonts);
    margin: 0 10vh;
    display: flex;
    flex-wrap: wrap; }
    .mkd .words span {
      text-align: center;
      margin: 0.5rem 1px;
      padding: 5px 1rem;
      border-radius: 2em; }
      .mkd .words span:nth-child(1) {
        background-color: #ffcce0; }
      .mkd .words span:nth-child(2) {
        background-color: #fffdcc; }
      .mkd .words span:nth-child(3) {
        background-color: #ddffcc; }
      .mkd .words span:nth-child(4) {
        background-color: #ffccd3; }
      .mkd .words span:nth-child(5) {
        background-color: #ccffdb; }
      .mkd .words span:nth-child(6) {
        background-color: #ffcce3; }
      .mkd .words span:nth-child(7) {
        background-color: #efccff;
        break-after: always; }
      .mkd .words span:nth-child(8) {
        background-color: #ffcccc; }
      .mkd .words span:nth-child(9) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(10) {
        background-color: #f5ccff; }
      .mkd .words span:nth-child(11) {
        background-color: #d0ccff; }
      .mkd .words span:nth-child(12) {
        background-color: #ceffcc; }
      .mkd .words span:nth-child(13) {
        background-color: #ccfff0; }
      .mkd .words span:nth-child(14) {
        background-color: #ffe2cc;
        break-after: always; }
      .mkd .words span:nth-child(15) {
        background-color: #ffccfd; }
      .mkd .words span:nth-child(16) {
        background-color: #f7ccff; }
      .mkd .words span:nth-child(17) {
        background-color: #ffedcc; }
      .mkd .words span:nth-child(18) {
        background-color: #ffcdcc; }
      .mkd .words span:nth-child(19) {
        background-color: #ccd5ff; }
      .mkd .words span:nth-child(20) {
        background-color: #ffd3cc; }
      .mkd .words span:nth-child(21) {
        background-color: #ffd2cc;
        break-after: always; }
      .mkd .words span:nth-child(22) {
        background-color: #ffccf4; }
      .mkd .words span:nth-child(23) {
        background-color: #ffccea; }
      .mkd .words span:nth-child(24) {
        background-color: #fff9cc; }
      .mkd .words span:nth-child(25) {
        background-color: #ffccd0; }
      .mkd .words span:nth-child(26) {
        background-color: #ccebff; }
      .mkd .words span:nth-child(27) {
        background-color: #ffdacc; }
      .mkd .words span:nth-child(28) {
        background-color: #ccf7ff;
        break-after: always; }
      .mkd .words span:nth-child(29) {
        background-color: #d2ccff; }
      .mkd .words span:nth-child(30) {
        background-color: #ffcccd; }
      .mkd .words span:nth-child(31) {
        background-color: #ccffd8; }
      .mkd .words span:nth-child(32) {
        background-color: #fcffcc; }
      .mkd .words span:nth-child(33) {
        background-color: #ccdaff; }
      .mkd .words span:nth-child(34) {
        background-color: #fcffcc; }
      .mkd .words span:nth-child(35) {
        background-color: #eaccff;
        break-after: always; }
      .mkd .words span:nth-child(36) {
        background-color: #ffd6cc; }
      .mkd .words span:nth-child(37) {
        background-color: #ffccd2; }
      .mkd .words span:nth-child(38) {
        background-color: #ccffcf; }
      .mkd .words span:nth-child(39) {
        background-color: #ffd4cc; }
      .mkd .words span:nth-child(40) {
        background-color: #f5ccff; }
      .mkd .words span:nth-child(41) {
        background-color: #d0ffcc; }
      .mkd .words span:nth-child(42) {
        background-color: #ffccf0;
        break-after: always; }
      .mkd .words span:nth-child(43) {
        background-color: #f3ffcc; }
      .mkd .words span:nth-child(44) {
        background-color: #cce9ff; }
      .mkd .words span:nth-child(45) {
        background-color: #ffebcc; }
      .mkd .words span:nth-child(46) {
        background-color: #ccd5ff; }
      .mkd .words span:nth-child(47) {
        background-color: #cfffcc; }
      .mkd .words span:nth-child(48) {
        background-color: #cccfff; }
      .mkd .words span:nth-child(49) {
        background-color: #dfffcc;
        break-after: always; }
      .mkd .words span:nth-child(50) {
        background-color: #ffe9cc; }
      .mkd .words span:nth-child(51) {
        background-color: #ccffeb; }
      .mkd .words span:nth-child(52) {
        background-color: #e9ffcc; }
      .mkd .words span:nth-child(53) {
        background-color: #ccfcff; }
      .mkd .words span:nth-child(54) {
        background-color: #cccfff; }
      .mkd .words span:nth-child(55) {
        background-color: #ccffff; }
      .mkd .words span:nth-child(56) {
        background-color: #ccffd8;
        break-after: always; }
      .mkd .words span:nth-child(57) {
        background-color: #ffcced; }
      .mkd .words span:nth-child(58) {
        background-color: #fffccc; }
      .mkd .words span:nth-child(59) {
        background-color: #ccf0ff; }
      .mkd .words span:nth-child(60) {
        background-color: #ccdcff; }
      .mkd .words span:nth-child(61) {
        background-color: #ccfff9; }
      .mkd .words span:nth-child(62) {
        background-color: #ccfff5; }
      .mkd .words span:nth-child(63) {
        background-color: #ffe9cc;
        break-after: always; }
      .mkd .words span:nth-child(64) {
        background-color: #d3ccff; }
      .mkd .words span:nth-child(65) {
        background-color: #cccdff; }
      .mkd .words span:nth-child(66) {
        background-color: #ffcfcc; }
      .mkd .words span:nth-child(67) {
        background-color: #eeffcc; }
      .mkd .words span:nth-child(68) {
        background-color: #cfffcc; }
      .mkd .words span:nth-child(69) {
        background-color: #ffccf3; }
      .mkd .words span:nth-child(70) {
        background-color: #dbccff;
        break-after: always; }
      .mkd .words span:nth-child(71) {
        background-color: #e0ccff; }
      .mkd .words span:nth-child(72) {
        background-color: #ccdaff; }
      .mkd .words span:nth-child(73) {
        background-color: #ebccff; }
      .mkd .words span:nth-child(74) {
        background-color: #ccffd8; }
      .mkd .words span:nth-child(75) {
        background-color: #ccfff5; }
      .mkd .words span:nth-child(76) {
        background-color: #ffe6cc; }
      .mkd .words span:nth-child(77) {
        background-color: #ccd4ff;
        break-after: always; }
      .mkd .words span:nth-child(78) {
        background-color: #ccfff1; }
      .mkd .words span:nth-child(79) {
        background-color: #ebffcc; }
      .mkd .words span:nth-child(80) {
        background-color: #ccffd4; }
      .mkd .words span:nth-child(81) {
        background-color: #ccffed; }
      .mkd .words span:nth-child(82) {
        background-color: #ccf1ff; }
      .mkd .words span:nth-child(83) {
        background-color: #ccf4ff; }
      .mkd .words span:nth-child(84) {
        background-color: #ccdcff;
        break-after: always; }
      .mkd .words span:nth-child(85) {
        background-color: #e0ffcc; }
      .mkd .words span:nth-child(86) {
        background-color: #fbffcc; }
      .mkd .words span:nth-child(87) {
        background-color: #ffdacc; }
      .mkd .words span:nth-child(88) {
        background-color: #ffcce2; }
      .mkd .words span:nth-child(89) {
        background-color: #ccdfff; }
      .mkd .words span:nth-child(90) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(91) {
        background-color: #ffcce0;
        break-after: always; }
      .mkd .words span:nth-child(92) {
        background-color: #ccffd5; }
      .mkd .words span:nth-child(93) {
        background-color: #ffe6cc; }
      .mkd .words span:nth-child(94) {
        background-color: #f1ffcc; }
      .mkd .words span:nth-child(95) {
        background-color: #cce4ff; }
      .mkd .words span:nth-child(96) {
        background-color: #ffccd1; }
      .mkd .words span:nth-child(97) {
        background-color: #e4ffcc; }
      .mkd .words span:nth-child(98) {
        background-color: #eeffcc;
        break-after: always; }
      .mkd .words span:nth-child(99) {
        background-color: #ccffcd; }
      .mkd .words span:nth-child(100) {
        background-color: #d3ccff; }
