.mkd {
  margin: 0 auto; }
  .mkd h2::before {
    content: '\00A0';
    margin-right: 0.4rem;
    background: var(--primary-color); }
  .mkd h3::before {
    content: '\00A0';
    margin-left: 1rem;
    margin-right: 0.4rem;
    background: var(--secondary-color); }
  .mkd img[alt="icon"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%; }
  .mkd strong, .mkd em {
    display: block;
    text-align: center; }
  .mkd .contacts {
    text-align: center; }
  .mkd .icon-contact {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--fg-color); }
    .mkd .icon-contact .fa-twitter {
      color: #1da1f2; }
  .mkd .words {
    font-family: var(--emoji-fonts);
    margin: 0 10vh;
    display: flex;
    flex-wrap: wrap; }
    .mkd .words span {
      text-align: center;
      margin: 0.5rem 1px;
      padding: 5px 1rem;
      border-radius: 2em; }
      .mkd .words span:nth-child(1) {
        background-color: #ffedcc; }
      .mkd .words span:nth-child(2) {
        background-color: #e4ccff; }
      .mkd .words span:nth-child(3) {
        background-color: #ffccf5; }
      .mkd .words span:nth-child(4) {
        background-color: #daffcc; }
      .mkd .words span:nth-child(5) {
        background-color: #cce3ff; }
      .mkd .words span:nth-child(6) {
        background-color: #ccffce; }
      .mkd .words span:nth-child(7) {
        background-color: #ccecff;
        break-after: always; }
      .mkd .words span:nth-child(8) {
        background-color: #fff0cc; }
      .mkd .words span:nth-child(9) {
        background-color: #ccffeb; }
      .mkd .words span:nth-child(10) {
        background-color: #ccffd4; }
      .mkd .words span:nth-child(11) {
        background-color: #ffe9cc; }
      .mkd .words span:nth-child(12) {
        background-color: #ccd2ff; }
      .mkd .words span:nth-child(13) {
        background-color: #e0ffcc; }
      .mkd .words span:nth-child(14) {
        background-color: #fff2cc;
        break-after: always; }
      .mkd .words span:nth-child(15) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(16) {
        background-color: #feffcc; }
      .mkd .words span:nth-child(17) {
        background-color: #ffccdb; }
      .mkd .words span:nth-child(18) {
        background-color: #e8ffcc; }
      .mkd .words span:nth-child(19) {
        background-color: #cfffcc; }
      .mkd .words span:nth-child(20) {
        background-color: #ffe0cc; }
      .mkd .words span:nth-child(21) {
        background-color: #ffe0cc;
        break-after: always; }
      .mkd .words span:nth-child(22) {
        background-color: #ccffdb; }
      .mkd .words span:nth-child(23) {
        background-color: #e8ffcc; }
      .mkd .words span:nth-child(24) {
        background-color: #fffbcc; }
      .mkd .words span:nth-child(25) {
        background-color: #ffcccd; }
      .mkd .words span:nth-child(26) {
        background-color: #ccd8ff; }
      .mkd .words span:nth-child(27) {
        background-color: #ccffec; }
      .mkd .words span:nth-child(28) {
        background-color: #ccffd0;
        break-after: always; }
      .mkd .words span:nth-child(29) {
        background-color: #ccffe1; }
      .mkd .words span:nth-child(30) {
        background-color: #ffeacc; }
      .mkd .words span:nth-child(31) {
        background-color: #cfffcc; }
      .mkd .words span:nth-child(32) {
        background-color: #ccffdf; }
      .mkd .words span:nth-child(33) {
        background-color: #fffbcc; }
      .mkd .words span:nth-child(34) {
        background-color: #e6ffcc; }
      .mkd .words span:nth-child(35) {
        background-color: #ebccff;
        break-after: always; }
      .mkd .words span:nth-child(36) {
        background-color: #ccffec; }
      .mkd .words span:nth-child(37) {
        background-color: #ccebff; }
      .mkd .words span:nth-child(38) {
        background-color: #f7ccff; }
      .mkd .words span:nth-child(39) {
        background-color: #ccfaff; }
      .mkd .words span:nth-child(40) {
        background-color: #f1ffcc; }
      .mkd .words span:nth-child(41) {
        background-color: #ccfeff; }
      .mkd .words span:nth-child(42) {
        background-color: #ffccf3;
        break-after: always; }
      .mkd .words span:nth-child(43) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(44) {
        background-color: #ffccf2; }
      .mkd .words span:nth-child(45) {
        background-color: #ccceff; }
      .mkd .words span:nth-child(46) {
        background-color: #cceeff; }
      .mkd .words span:nth-child(47) {
        background-color: #ffdfcc; }
      .mkd .words span:nth-child(48) {
        background-color: #ffd7cc; }
      .mkd .words span:nth-child(49) {
        background-color: #d5ffcc;
        break-after: always; }
      .mkd .words span:nth-child(50) {
        background-color: #ccffd6; }
      .mkd .words span:nth-child(51) {
        background-color: #d5ffcc; }
      .mkd .words span:nth-child(52) {
        background-color: #fcffcc; }
      .mkd .words span:nth-child(53) {
        background-color: #ffdfcc; }
      .mkd .words span:nth-child(54) {
        background-color: #ccdeff; }
      .mkd .words span:nth-child(55) {
        background-color: #e7ffcc; }
      .mkd .words span:nth-child(56) {
        background-color: #fbccff;
        break-after: always; }
      .mkd .words span:nth-child(57) {
        background-color: #ffdccc; }
      .mkd .words span:nth-child(58) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(59) {
        background-color: #f7ffcc; }
      .mkd .words span:nth-child(60) {
        background-color: #fff9cc; }
      .mkd .words span:nth-child(61) {
        background-color: #ffcce7; }
      .mkd .words span:nth-child(62) {
        background-color: #e3ffcc; }
      .mkd .words span:nth-child(63) {
        background-color: #ffcce9;
        break-after: always; }
      .mkd .words span:nth-child(64) {
        background-color: #ffd1cc; }
      .mkd .words span:nth-child(65) {
        background-color: #ceffcc; }
      .mkd .words span:nth-child(66) {
        background-color: #fffecc; }
      .mkd .words span:nth-child(67) {
        background-color: #ffdfcc; }
      .mkd .words span:nth-child(68) {
        background-color: #e7ccff; }
      .mkd .words span:nth-child(69) {
        background-color: #ffcce6; }
      .mkd .words span:nth-child(70) {
        background-color: #ccddff;
        break-after: always; }
      .mkd .words span:nth-child(71) {
        background-color: #ffccf5; }
      .mkd .words span:nth-child(72) {
        background-color: #ccffe0; }
      .mkd .words span:nth-child(73) {
        background-color: #e5ffcc; }
      .mkd .words span:nth-child(74) {
        background-color: #ccfff7; }
      .mkd .words span:nth-child(75) {
        background-color: #cccfff; }
      .mkd .words span:nth-child(76) {
        background-color: #d0ccff; }
      .mkd .words span:nth-child(77) {
        background-color: #d5ffcc;
        break-after: always; }
      .mkd .words span:nth-child(78) {
        background-color: #dcccff; }
      .mkd .words span:nth-child(79) {
        background-color: #e7ccff; }
      .mkd .words span:nth-child(80) {
        background-color: #fffccc; }
      .mkd .words span:nth-child(81) {
        background-color: #ccffda; }
      .mkd .words span:nth-child(82) {
        background-color: #ccffef; }
      .mkd .words span:nth-child(83) {
        background-color: #d2ccff; }
      .mkd .words span:nth-child(84) {
        background-color: #ffccf1;
        break-after: always; }
      .mkd .words span:nth-child(85) {
        background-color: #d1ffcc; }
      .mkd .words span:nth-child(86) {
        background-color: #ccffe6; }
      .mkd .words span:nth-child(87) {
        background-color: #f4ccff; }
      .mkd .words span:nth-child(88) {
        background-color: #ccffda; }
      .mkd .words span:nth-child(89) {
        background-color: #ffccff; }
      .mkd .words span:nth-child(90) {
        background-color: #ccfff8; }
      .mkd .words span:nth-child(91) {
        background-color: #dcccff;
        break-after: always; }
      .mkd .words span:nth-child(92) {
        background-color: #ffcccf; }
      .mkd .words span:nth-child(93) {
        background-color: #d3ccff; }
      .mkd .words span:nth-child(94) {
        background-color: #edffcc; }
      .mkd .words span:nth-child(95) {
        background-color: #e4ffcc; }
      .mkd .words span:nth-child(96) {
        background-color: #ffccfc; }
      .mkd .words span:nth-child(97) {
        background-color: #deffcc; }
      .mkd .words span:nth-child(98) {
        background-color: #cdffcc;
        break-after: always; }
      .mkd .words span:nth-child(99) {
        background-color: #ccffdf; }
      .mkd .words span:nth-child(100) {
        background-color: #f8ccff; }
