.mkd {
  margin: 0 auto; }
  .mkd h2::before {
    content: '\00A0';
    margin-right: 0.4rem;
    background: var(--primary-color); }
  .mkd h3::before {
    content: '\00A0';
    margin-left: 1rem;
    margin-right: 0.4rem;
    background: var(--secondary-color); }
  .mkd img[alt="icon"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%; }
  .mkd strong, .mkd em {
    display: block;
    text-align: center; }
  .mkd .contacts {
    text-align: center; }
  .mkd .icon-contact {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--fg-color); }
    .mkd .icon-contact .fa-twitter {
      color: #1da1f2; }
  .mkd .words {
    font-family: var(--emoji-fonts);
    margin: 0 10vh;
    display: flex;
    flex-wrap: wrap; }
    .mkd .words span {
      text-align: center;
      margin: 0.5rem 1px;
      padding: 5px 1rem;
      border-radius: 2em; }
      .mkd .words span:nth-child(1) {
        background-color: #ccd3ff; }
      .mkd .words span:nth-child(2) {
        background-color: #ccd4ff; }
      .mkd .words span:nth-child(3) {
        background-color: #ccffd0; }
      .mkd .words span:nth-child(4) {
        background-color: #ccfeff; }
      .mkd .words span:nth-child(5) {
        background-color: #ccffe2; }
      .mkd .words span:nth-child(6) {
        background-color: #ffcecc; }
      .mkd .words span:nth-child(7) {
        background-color: #f7ffcc;
        break-after: always; }
      .mkd .words span:nth-child(8) {
        background-color: #ffcce4; }
      .mkd .words span:nth-child(9) {
        background-color: #e3ccff; }
      .mkd .words span:nth-child(10) {
        background-color: #eaccff; }
      .mkd .words span:nth-child(11) {
        background-color: #feccff; }
      .mkd .words span:nth-child(12) {
        background-color: #ceffcc; }
      .mkd .words span:nth-child(13) {
        background-color: #ccfffc; }
      .mkd .words span:nth-child(14) {
        background-color: #e2ffcc;
        break-after: always; }
      .mkd .words span:nth-child(15) {
        background-color: #ccffe7; }
      .mkd .words span:nth-child(16) {
        background-color: #ffcce4; }
      .mkd .words span:nth-child(17) {
        background-color: #ffebcc; }
      .mkd .words span:nth-child(18) {
        background-color: #ffcce6; }
      .mkd .words span:nth-child(19) {
        background-color: #ccffe6; }
      .mkd .words span:nth-child(20) {
        background-color: #ccffcf; }
      .mkd .words span:nth-child(21) {
        background-color: #ccffda;
        break-after: always; }
      .mkd .words span:nth-child(22) {
        background-color: #f7ffcc; }
      .mkd .words span:nth-child(23) {
        background-color: #ffd8cc; }
      .mkd .words span:nth-child(24) {
        background-color: #ccddff; }
      .mkd .words span:nth-child(25) {
        background-color: #e8ccff; }
      .mkd .words span:nth-child(26) {
        background-color: #e0ccff; }
      .mkd .words span:nth-child(27) {
        background-color: #ffe5cc; }
      .mkd .words span:nth-child(28) {
        background-color: #daffcc;
        break-after: always; }
      .mkd .words span:nth-child(29) {
        background-color: #dfffcc; }
      .mkd .words span:nth-child(30) {
        background-color: #ffccf1; }
      .mkd .words span:nth-child(31) {
        background-color: #ffccce; }
      .mkd .words span:nth-child(32) {
        background-color: #ccdaff; }
      .mkd .words span:nth-child(33) {
        background-color: #ccdbff; }
      .mkd .words span:nth-child(34) {
        background-color: #d9ccff; }
      .mkd .words span:nth-child(35) {
        background-color: #ccfff4;
        break-after: always; }
      .mkd .words span:nth-child(36) {
        background-color: #ccffd4; }
      .mkd .words span:nth-child(37) {
        background-color: #daffcc; }
      .mkd .words span:nth-child(38) {
        background-color: #ceffcc; }
      .mkd .words span:nth-child(39) {
        background-color: #ffe3cc; }
      .mkd .words span:nth-child(40) {
        background-color: #e5ccff; }
      .mkd .words span:nth-child(41) {
        background-color: #ffcce8; }
      .mkd .words span:nth-child(42) {
        background-color: #e6ffcc;
        break-after: always; }
      .mkd .words span:nth-child(43) {
        background-color: #d7ffcc; }
      .mkd .words span:nth-child(44) {
        background-color: #ffccd0; }
      .mkd .words span:nth-child(45) {
        background-color: #ffe9cc; }
      .mkd .words span:nth-child(46) {
        background-color: #ffcdcc; }
      .mkd .words span:nth-child(47) {
        background-color: #ccffdc; }
      .mkd .words span:nth-child(48) {
        background-color: #ccffe8; }
      .mkd .words span:nth-child(49) {
        background-color: #e6ccff;
        break-after: always; }
      .mkd .words span:nth-child(50) {
        background-color: #ccf5ff; }
      .mkd .words span:nth-child(51) {
        background-color: #edccff; }
      .mkd .words span:nth-child(52) {
        background-color: #ffcce6; }
      .mkd .words span:nth-child(53) {
        background-color: #e7ffcc; }
      .mkd .words span:nth-child(54) {
        background-color: #cfffcc; }
      .mkd .words span:nth-child(55) {
        background-color: #ffcccd; }
      .mkd .words span:nth-child(56) {
        background-color: #ffeecc;
        break-after: always; }
      .mkd .words span:nth-child(57) {
        background-color: #fcffcc; }
      .mkd .words span:nth-child(58) {
        background-color: #ccd3ff; }
      .mkd .words span:nth-child(59) {
        background-color: #ffccdd; }
      .mkd .words span:nth-child(60) {
        background-color: #ffccd5; }
      .mkd .words span:nth-child(61) {
        background-color: #ccfffa; }
      .mkd .words span:nth-child(62) {
        background-color: #eaffcc; }
      .mkd .words span:nth-child(63) {
        background-color: #ccd1ff;
        break-after: always; }
      .mkd .words span:nth-child(64) {
        background-color: #ccceff; }
      .mkd .words span:nth-child(65) {
        background-color: #e5ccff; }
      .mkd .words span:nth-child(66) {
        background-color: #f7ffcc; }
      .mkd .words span:nth-child(67) {
        background-color: #f3ffcc; }
      .mkd .words span:nth-child(68) {
        background-color: #f3ffcc; }
      .mkd .words span:nth-child(69) {
        background-color: #ccffd2; }
      .mkd .words span:nth-child(70) {
        background-color: #e2ccff;
        break-after: always; }
      .mkd .words span:nth-child(71) {
        background-color: #f7ffcc; }
      .mkd .words span:nth-child(72) {
        background-color: #d7ccff; }
      .mkd .words span:nth-child(73) {
        background-color: #ebccff; }
      .mkd .words span:nth-child(74) {
        background-color: #ffccf7; }
      .mkd .words span:nth-child(75) {
        background-color: #fdffcc; }
      .mkd .words span:nth-child(76) {
        background-color: #d6ffcc; }
      .mkd .words span:nth-child(77) {
        background-color: #ffedcc;
        break-after: always; }
      .mkd .words span:nth-child(78) {
        background-color: #ffe1cc; }
      .mkd .words span:nth-child(79) {
        background-color: #d5ccff; }
      .mkd .words span:nth-child(80) {
        background-color: #ccedff; }
      .mkd .words span:nth-child(81) {
        background-color: #ccf5ff; }
      .mkd .words span:nth-child(82) {
        background-color: #ccf5ff; }
      .mkd .words span:nth-child(83) {
        background-color: #ffccf0; }
      .mkd .words span:nth-child(84) {
        background-color: #d5ffcc;
        break-after: always; }
      .mkd .words span:nth-child(85) {
        background-color: #deffcc; }
      .mkd .words span:nth-child(86) {
        background-color: #e2ccff; }
      .mkd .words span:nth-child(87) {
        background-color: #ccfff9; }
      .mkd .words span:nth-child(88) {
        background-color: #f1ccff; }
      .mkd .words span:nth-child(89) {
        background-color: #cce4ff; }
      .mkd .words span:nth-child(90) {
        background-color: #ffe0cc; }
      .mkd .words span:nth-child(91) {
        background-color: #ccd3ff;
        break-after: always; }
      .mkd .words span:nth-child(92) {
        background-color: #cce1ff; }
      .mkd .words span:nth-child(93) {
        background-color: #ecffcc; }
      .mkd .words span:nth-child(94) {
        background-color: #ccffe4; }
      .mkd .words span:nth-child(95) {
        background-color: #ffccf7; }
      .mkd .words span:nth-child(96) {
        background-color: #f5ccff; }
      .mkd .words span:nth-child(97) {
        background-color: #cce6ff; }
      .mkd .words span:nth-child(98) {
        background-color: #ccffd2;
        break-after: always; }
      .mkd .words span:nth-child(99) {
        background-color: #ffdfcc; }
      .mkd .words span:nth-child(100) {
        background-color: #ccffda; }
