:root {
  --bg-color: #FCFAF2;
  --fg-color: #373C38;
  --primary-color: #58B2DC;
  --secondary-color: #F7D94C;
  --emoji-fonts: "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", "Noto Color Emoji", "Noto Emoji",
                  "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

html, body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

