---

const repoName = Astro.props.repoName || '';
console.log(repoName);

---


<div class="repo-item w-full h-14 rounded-lg bg-(--surface-subtle) border border-solid border-(--border-hairline)"></div>


