name: Deploy

on:
  push:
    branches: [ master ]


jobs:
  deploy_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout [master]
      uses: actions/checkout@v6
      with:
        path: master
    - name: Checkout [gh-pages]
      uses: actions/checkout@v6
      with:
        ref: gh-pages
        path: gh-pages
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
    - name: Run script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: master/script/deploy.sh


